body {
    padding-top: 120px;
}

@media (max-width: 767px) {
    body {
        padding-top: 60px;
    }
}

.navbar.navbar-default.navbar-lower {
    position: fixed;
    z-index: 1;
    top: 60px;
    width: 100vw;
    background-color: #fff;
}

.navbar.navbar-default.navbar-lower .nav li a {
    color: rgb(116, 15, 21);
}

.navbar.navbar-default.navbar-lower .nav li a:hover,
.navbar.navbar-default.navbar-lower .nav li a:focus, {
    outline: 0;
    color: #fed136;
}

.featured_Image {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.btn-create-account {
    padding: 20px 40px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

header {
    text-align: center;
    color: #fff;
}

section {
    padding: 10px 5px;
}

@media (min-width: 768px) {
    section {
        width: 100%;
        padding: 30px 20px;
    }
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 25px;
}

.section-heading-small-20 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

#hot, #promotions, #inspired, #recentRelated, #discover {
    overflow-x: scroll;
    white-space: nowrap;
}

.imgSellPointImage {
    position: relative;
    display: inline-block;
    white-space: normal;
    text-align: center;
}

.imgSellPointThumbnail {
    margin: 0 0;
}

.img-button-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
}

div.row.horizontal_scrollable {
    overflow-x: scroll;
    white-space: nowrap;
}

div.put-border {
    /*border: 2px solid rgb(116, 15, 21);*/
}

section#promotions {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
}

section#login {
    background-color: #fed180;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact {
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 200px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}